@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
    /* Font Families */
    --font-barlow: "Barlow";
    --font-inter: "Inter";

    /* Colors */
    --color-black: #000000;

    /* Heading Styles */
    --text-h1: 72px;
    --text-h1--line-height: 1.125;
    --text-h1--font-family: var(--font-barlow);
    --text-h1--font-weight: 400;

    --text-h2: 54px;
    --text-h2--line-height: 1.25;
    --text-h2--font-family: var(--font-barlow);
    --text-h2--font-weight: 400;

    --text-h3: 48px;
    --text-h3--line-height: 1;
    --text-h3--font-family: var(--font-inter);
    --text-h3--font-weight: 400;

    --text-h4: 36px;
    --text-h4--line-height: 1.125;
    --text-h4--font-family: var(--font-inter);
    --text-h4--font-weight: 400;

    --text-h5: 24px;
    --text-h5--line-height: 1.125;
    --text-h5--font-family: var(--font-inter);
    --text-h5--font-weight: 400;

    /* Paragraph Styles */
    --text-p1: 20px;
    --text-p1--line-height: 1.125;
    --text-p1--font-family: var(--font-inter);
    --text-p1--font-weight: 400;

    --text-p2: 18px;
    --text-p2--line-height: 1.25;
    --text-p2--font-family: var(--font-inter);
    --text-p2--font-weight: 400;

    --text-p3: 16px;
    --text-p3--line-height: 1.25;
    --text-p3--font-family: var(--font-inter);
    --text-p3--font-weight: 400;

    --text-p4: 14px;
    --text-p4--line-height: 1.25;
    --text-p4--font-family: var(--font-inter);
    --text-p4--font-weight: 400;

    --text-p5: 12px;
    --text-p5--line-height: 1.25;
    --text-p5--font-family: var(--font-inter);
    --text-p5--font-weight: 400;

    --background-image-hero: linear-gradient(0deg, rgba(52, 52, 52, 0.6) 40%, rgba(52, 52, 52, 0.6) 100%), url('public/wrapper-img.png');

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1140px;
    --breakpoint-2xl: 1310px;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        letter-spacing: 0;
    }

    body,
    html {
        @apply tracking-[0.009em] h-full w-full font-inter;
    }

    h1 {
        @apply text-h1
    }

    h2 {
        @apply text-h2
    }

    h3 {
        @apply text-h3
    }

    h4 {
        @apply text-h4
    }

    h5 {
        @apply text-h5
    }

    h1 {
        @apply tracking-normal
    }

    button {
        @apply border-0 bg-transparent cursor-pointer justify-center items-center gap-2.5 flex
    }

}

@layer components {
    .nav-item a {
        @apply no-underline text-white text-p2 font-inter
    }

    .button--orange {
        @apply text-white bg-[#FF4D01] font-inter
    }

    .button--outline {
        @apply bg-transparent text-white border-2 border-white font-inter
    }

    .service-card {
        @apply flex w-full md:w-82.5 lg:w-95 flex-col items-start gap-5 h-full
    }

    .service-card img {
        @apply w-17.5 h-17.5
    }

    .service-card h4 {
        @apply text-[#191919] font-inter
    }

    .service-card p {
        @apply text-[#605E5D] text-p2 font-inter grow
    }

    .service-card div {
        @apply flex items-center gap-2.5
    }

    .service-card a {
        @apply no-underline text-p2 font-inter text-[#191919]
    }

    .swiper-slide {
        @apply min-w-106.75 md:min-w-136.25
    }

    .swiper-slide-projects article {
        @apply px-7.5 pb-7.5 pt-75 flex flex-col justify-end items-start gap-2.5 w-94 h-121 md:w-136.25 md:h-148.5 lg:gap-5
    }

    .testimonial-slide {
        @apply min-w-185
    }

    .testimonial-card {
        @apply flex items-center gap-9.5 flex-col md:flex-row w-full max-w-[288px] md:max-w-[720px] lg:max-w-185;
    }

    .testimonial-card__image {
        @apply w-[288px] h-79.5 md:w-85.25 lg:h-85 lg:w-85;
    }

    .testimonial-card__content {
        @apply flex w-[288px] md:w-85.25 lg:w-90.5 flex-col items-start gap-6;
    }

    .testimonial-card__quote {
        @apply text-p1 font-inter md:text-h5;
    }

    .testimonial-card__text {
        @apply font-inter text-p4 md:text-p2 text-[#989899];
    }

    .testimonial-card__author-info {
        @apply flex flex-col items-start lg:gap-1.5;
    }

    .testimonial-card__name {
        @apply text-p4 md:text-p2 font-inter text-[#191919]
    }

    .testimonial-card__location {
        @apply text-p4 font-inter text-[#989899];
    }

    .blog-card {
        @apply flex items-center gap-4 max-md:flex-col
    }

    .blog-card__image {
        @apply w-[320px] h-80 md:w-56 md:h-56 object-cover
    }

    .blog-card__content {
        @apply flex w-71.75 flex-col items-start gap-4
    }

    .blog-card__text {
        @apply text-p1 md:text-h5 text-[#191919] font-inter
    }

    .blog-card__date {
        @apply text-p4 md:text-p2 font-inter text-[#605E5D]
    }

    .footer-nav a {
        @apply no-underline text-p2 font-inter text-[#EAEAEB]
    }
}